{% extends 'base.html' %}
{% load static %}

{% block add_css %}
    <link rel="stylesheet" href="{%  static 'students/css/students.css' %}">
{% endblock add_css %}

{% block content %}


<div class="services_section layout_padding">
    <div class="container">
        <div class='row'> 
    
            <div style="" class="checkout-box  checkout-box-hide  col-lg-3 col-md-3">
                <div class="" style="padding:1rem;">
                    <h3> Modules </h3>
                    <ul>
                        {% for m in object.modules.all %}
                        <li data-id='{{ m.id }}' >
                          <a href="{% url 'students:student-course-module-detail' pk=object.id module_id=m.id %}">
                        
                            <i style="font-weight:bold;" class="fa fa-angle-double-left"></i>
        
                            <span style="font-weight:bold;">
                                {{ m.title }}
                            </span>
                            
                          </a>
                        </li>
                      {% empty %}
                        <li>No module yet.</li>
                      {% endfor %}
                    </ul>
                    
        
                </div>
        
              </div>
            <div class='col-lg-9 col-md-9'>
                <ul>
                    {% for m in object.modules.all %}
                    <li data-id='{{ m.id }}' >
                    <a href="{% url 'students:student-course-detail' pk=object.id  %}">
                        <span>
                            Module <span>{{ m.order|add:1 }}</span>
                        </span>
                        <br>
                        {{ m.title }}
                    </a>
                    </li>
                {% empty %}
                    <li>No module yet.</li>
                {% endfor %}
                </ul>
                <p>{{object.title}}</p>
            </div>
        </div> <!-- outter row -->
        
    </div> <!--end row-->
    
</div>
</div>
{% endblock content %}