{% extends 'base.html' %}

{% block title %}

    {{ object.title }}

{% endblock title %}


{% block content %}
    
<div class="services_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img width="500px;" src="{{object.photo.url}}">
            </div>
            <div class="col-md-5">
                <h1 style="font-weight:bold;">{{object.title}} course </h1>
                <h3> overview </h3>
                <p> {{object.overview}} </p>
                <h3 > {{ object.modules.count }} modules:</h3>
                {% for module in object.modules.all %}
                    <p> {{module}} </p>
                {% endfor %}
                
        {% if request.user.is_authenticated %}
            {% if request.user == object.owner or request.user.is_staff %}
            
            
            <div style="display:inline-flex">
                <span>
                    <form method="post" action="{% url 'courses:course-delete' object.pk %}">
                        {% csrf_token %}
                        <input class='btn btn-danger' type="submit" name="" value="Delete">
                    </form>
                </span>
                <span style="margin-left:5px;">
                    <a class='btn btn-info' href="{% url 'courses:course-update' pk=object.pk %}" >
                        edit course
                    </a>
                </span>
                <span style="margin-left:5px;">
                    <a class='btn btn-info' href="{% url 'courses:course-module-list' pk=object.pk %}" >
                        edit module
                    </a>
                </span>
            </div>
            {% elif request.user not in object.students.all %}
            
            <form method="post" action="{% url 'students:student-enroll' %}">
                {{ enroll_form }}
                {% csrf_token %}
                <input type="submit" name="" value="Enroll now">
            </form>
        
            {% else %}
                <a class='btn btn-dark' href="{% url 'students:student-course-detail' pk=object.pk %}" >
                    go to course
                </a>
            {% endif %}
        {% else %}
            <a class="btn btn-dark" href="{% url 'account_login' %}">login</a>
        {% endif %}
                
            </div>
        </div> <!-- end row -->
        
    </div>
</div>

{% endblock content %}