{% extends 'base.html' %}

{% block title %}

    {{ object.title }}

{% endblock title %}


{% block content %}
    
<div class="services_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <img src="{{object.photo.url}}">
            </div>
            <div class="col-md-3">
                <h1>{{object.title}} course </h1>
                <h2> overview </h2>
                
                <p> {{ object.modules.count }} modules.</p>
                
            </div>
        </div> <!-- end row -->
        {% if request.user.is_authenticated %}
            {% if request.user == object.owner %}
            
            
            <div style="display:inline-flex">
                <span>
                    <form method="post" action="{% url 'courses:course-delete' object.pk %}">
                        {% csrf_token %}
                        <input class='btn btn-danger' type="submit" name="" value="Delete">
                    </form>
                </span>
                <span style="margin-left:5px;">
                    <a class='btn btn-info' href="{% url 'courses:course-update' pk=object.pk %}" >
                        edit course
                    </a>
                </span>
                <span>
                    <a class='btn btn-info' href="{% url 'courses:course-module-list' pk=object.pk %}" >
                        edit module
                    </a>
                </span>
            </div>
            {% elif request.user not in object.students.all %}
            
            <form method="post" action="{% url 'students:student-enroll' %}">
                {{ enroll_form }}
                {% csrf_token %}
                <input type="submit" name="" value="Enroll now">
            </form>
        
            {% else %}
                <a class='btn btn-dark' href="{% url 'students:student-course-detail' pk=object.pk %}" >
                    go to course
                </a>
            {% endif %}
        {% else %}
            <a class="btn btn-dark" href="{% url 'account_login' %}">login</a>
        {% endif %}
    </div>
</div>

{% endblock content %}