{% extends 'base.html' %}
{% load static cache %}

{% block banner_section %}


{% endblock banner_section %}

{% block content %}

{% cache 1200 course_list %}
{% endcache  %}

<div class="services_section layout_padding">
   <div class="container">
      <h1 class="services_taital"><span style="color: #fcce2d">Our</span> Courses</h1>
      <div class="services_section_2">
         <div class="row">
          {% for object in object_list %}
            <div class="col-md-6">
               <a href="{% url 'courses:course-detail' pk=object.pk %}">
                <div style="height:300px; width:500px;" class="image_main">
                        
                        <img style="width:100%; height:300px;" src="{{ object.photo.url }}">
                        <div class="text_main">
                           <div class="seemore_text"> {{object.title}} </div>
                        </div>
                     </div>
               </a>
            </div>
        {% endfor %}
         </div>
         
      </div>
   </div>            
</div>

<!-- services section end -->

{% endblock content %}


