{% extends 'base.html' %}
{% load static %}

{% block banner_section %}
<div class="banner_section layout_padding">
   <div id="my_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <div class="banner_taital_main">
                  <div class="row">
                     <div class="col-md-6">
                        <h1 class="banner_taital">Casinal Educations Coachings</h1>
                        <p class="banner_text">Eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="btn_main">
                           <div class="about_bt active"><a href="#">About Us</a></div>
                           <div class="quote_bt"><a href="#">Get A Quote</a></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_1"><img src="{% static 'homepage/images/img-1.png' %}"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="banner_taital_main">
                  <div class="row">
                     <div class="col-md-6">
                        <h1 class="banner_taital">Casinal Educations Coachings</h1>
                        <p class="banner_text">Eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="btn_main">
                           <div class="about_bt active"><a href="#">About Us</a></div>
                           <div class="quote_bt"><a href="#">Get A Quote</a></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_1"><img src="{% static 'homepage/images/img-1.png' %}"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="banner_taital_main">
                  <div class="row">
                     <div class="col-md-6">
                        <h1 class="banner_taital">Casinal Educations Coachings</h1>
                        <p class="banner_text">Eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="btn_main">
                           <div class="about_bt active"><a href="#">About Us</a></div>
                           <div class="quote_bt"><a href="#">Get A Quote</a></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_1"><img src="{% static 'homepage/images/img-1.png' %}"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
      <i class="fa fa-arrow-left" style="font-size:24px"></i>
      </a>
      <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
      <i class="fa fa-arrow-right" style="font-size:24px"></i>
      </a>
   </div>
</div>

{% endblock banner_section %}


{% block content %}

<div class="services_section layout_padding">
   <div class="container">
      <h1 class="services_taital"><span style="color: #fcce2d">Our</span> Courses</h1>
      <div class="services_section_2">
         <div class="row">
            <div class="col-md-6">
               <div class="image_main">
                  <img src="{% static 'homepage/images/img-2.png' %}" class="image_8" style="width:100%">
                  <div class="text_main">
                     <div class="seemore_text">Art And Design</div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="image_main">
                  <img src="{% static 'homepage/images/img-3.png' %}" class="image_8" style="width:100%">
                  <div class="text_main">
                     <div class="seemore_text">Science</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="image_main">
                  <img src="{% static 'homepage/images/img-4.png' %}" class="image_8" style="width:100%">
                  <div class="text_main">
                     <div class="seemore_text">Business Stady</div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="image_main">
                  <img src="{% static 'homepage/images/img-5.png' %}" class="image_8" style="width:100%">
                  <div class="text_main">
                     <div class="seemore_text">English Speaking</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>            
</div>
<!-- services section end -->
<!-- about section start -->
<div class="news_section layout_padding">
   <div class="container">
      <h1 class="news_taital">Our About</h1>
      <p class="news_text">Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      <div class="news_section_2">
         <div class="row">
            <div class="col-md-6">
               <div class="news_taital_box">
                  <p class="date_text">01 Jan 2020</p>
                  <h4 class="make_text">Make it Simple</h4>
                  <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                  <p class="post_text">Post By : Casinal</p>
               </div>
            </div>
            <div class="col-md-6">
               <img src="{% static 'homepage/images/img-6.png' %}" class="image_6" style="width:100%">
               <h6 class="plus_text">+</h6>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- about section end -->
<!-- blog section start -->
<div class="blog_section layout_padding">
   <div class="container">
      <h1 class="news_taital">Our Bolg</h1>
      <p class="news_text">do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      <div class="blog_section_2">
         <div class="row">
            <div class="col-md-6">
               <img src="{% static 'homepage/images/img-7.png' %}" class="image_7" style="width:100%">
            </div>
            <div class="col-md-6">
               <h4 class="classes_text">Best Classes and study</h4>
               <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
            </div>
         </div>
      </div>
      <div class="read_bt"><a href="#">Read More</a></div>
   </div>
</div>
<!-- blog section end -->
<!-- client section start -->
<div class="client_section layout_padding">
   <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <h1 class="client_taital">Testimonial</h1>
               <div class="client_section_2">
                  <div class="client_left">
                     <div><img src="{% static 'homepage/images/client-img.png' %}" class="client_img"></div>
                  </div>
                  <div class="client_right">
                     <h3 class="client_name">Jony Deno</h3>
                     <p class="client_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <h1 class="client_taital">Testimonial</h1>
               <div class="client_section_2">
                  <div class="client_left">
                     <div><img src="{% static 'homepage/images/client-img.png' %}" class="client_img"></div>
                  </div>
                  <div class="client_right">
                     <h3 class="client_name">Jony Deno</h3>
                     <p class="client_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <h1 class="client_taital">Testimonial</h1>
               <div class="client_section_2">
                  <div class="client_left">
                     <div><img src="{% static 'homepage/images/client-img.png' %}" class="client_img"></div>
                  </div>
                  <div class="client_right">
                     <h3 class="client_name">Jony Deno</h3>
                     <p class="client_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
       <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
       <i class="fa fa-angle-right" style="font-size:24px"></i>
      </a>
   </div>
</div>
<!-- client section end -->
<!-- newsletter section start -->
<div class="newsletter_section layout_padding">
   <div class="container">
      <div class="newsletter_main">
         <h1 class="newsletter_taital">Get<br> Your free consuting </h1>
         <div class="get_quote_bt"><a href="#">Get A Quote</a></div>
      </div>
      <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
   </div>
</div>
<!-- newsletter section end -->

<!-- contact section start -->
<div class="contact_section layout_padding">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 padding_left0">
            <div class="mail_section">
               <div class="contact_img">
                  <h1 class="contact_taital">Best Educations In World Here</h1>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="map_main"><img src="{% static 'homepage/images/map-img.png' %}"></div>
         </div>
      </div>
   </div>
</div>

{% endblock content %}


